/* From Uiverse.io by gamerx151 */
.tooltip-container {
  background: rgb(3, 169, 244);
  background: linear-gradient(138deg, rgb(0, 0, 0) 15%, rgb(252 163 17) 65%);
  // background: linear-gradient(138deg, rgb(0, 0, 0) 15%, rgb(46, 17, 0) 65%);
  //#fca311
  position: relative;
  cursor: pointer;
  font-size: 17px;
  padding: 0.7em 0.7em;
  border-radius: 50px;
  box-shadow: 0 0.1rem 1rem rgb(255 255 255 / 10%);
}
.tooltip-container:hover {
  background: #fff;
  transition: all 0.9s;
}
.tooltip-container .text {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #fff;
  transition: all 0.2s;
}
.tooltip-container:hover .text {
  fill: rgb(0, 0, 0);
  transition: all 0.9s;
}

.tooltipGlobal{
  position: absolute;
  transform: translateX(70%);
  opacity: 0;
  visibility: hidden;
  background: #fff;
  fill: #001722;
  padding: 10px;
  border-radius: 50px;
  transition: opacity 0.3s, visibility 0.3s, top 0.4s;
  z-index: 1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
/* Inicio do tooltip gitHub */
.tooltip1 {
  top: 100%;
  left: -190%;
}

.tooltip-container:hover .tooltip1 {
  top: 10%;
  opacity: 1;
  visibility: visible;
  background: #fff;
  transform: translate(70%, -5px);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tooltip-container:hover .tooltip1:hover {
  background: #03a9f4;
  fill: #fff;
}
/* Fim do tooltip GitHub */

/* Inicio do tooltip Linkedin */
.tooltip2 {
  position: absolute;
  top: 100%;
  left: -145%;
}

.tooltip-container:hover .tooltip2 {
  top: -78%;
  opacity: 1;
  visibility: visible;
  background: #fff;
  transform: translate(70%, -5px);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tooltip-container:hover .tooltip2:hover {
  background: #0a66c2;
  color: #fff;
  fill: #fff;
}
/* Fim do tooltip Linkedin */

/* Inicio do tooltip whatsApp */
.tooltip3 {
  position: absolute;
  top: 100%;
  left: -60%;
}

.tooltip-container:hover .tooltip3 {
  top: -120%;
  opacity: 1;
  visibility: visible;
  background: #fff;
  transform: translate(70%, -5px);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tooltip-container:hover .tooltip3:hover {
  background: #1db954;
  fill: #fff;
}
/* Fim do tooltip whatsApp */
