*{
    padding: 0;
    margin: 0;
    background-color: black;
    font-family: 'Lato';
}

app-menu{
    background-color: black;
}

app-social-media{
    display: flex;
    position: fixed;
    right: 40px;
    bottom: 40px;
}