<ul>
    <li>
        <a (click)="goToPart('contacto')" routerLinkActive="active">Contacto</a>
    </li>
    <li>
        <a (click)="goToPart('portafolio')"  routerLinkActive="active">Portafolio</a>
    </li>
    <li>
        <a (click)="goToPart('servicio')"  routerLinkActive="active">Servicio</a>
    </li>
    <li>
        <a (click)="goToPart('about')"  routerLinkActive="active">¿Quien soy?</a>
    </li>
    <li>
        <a (click)="goToPart('inicio')" routerLinkActive="active">Inicío</a>
    </li>
</ul>
