*{ 
    background-color: #000;
}

ul{
    display: flex;
    flex-direction: row-reverse;
    margin-right: 20px;
    // justify-content: space-around;
}

li{
    list-style: none;
    margin-left: 1dvh;
    // display: inline-flex;
}

a{
    color: #FFFFFF;
    font-family: 'Lato';
    font-size: 22px;
    text-decoration: none;
}

a:hover{
    color: #FCA311;
    text-decoration: line-through;
}

.active{
    color: #FCA311;
    text-decoration: line-through;
}