<div class="container-inicio"  >
    <div id="fotoBanner"></div>
    <h2 class="title">Bienvenidos!</h2>
    <h1 class="suptitle">Yo soy <p class="colorSecundary">&nbsp; Desarrollador &nbsp;</p> y <p class="colorSecundary">&nbsp; Diseñador Web &nbsp;</p></h1>
    <div class="container-button" >
        <buttons [text]="'Mi trabajo'"></buttons>
        <buttons [backgroundColor]="'#FFFFFF'" [text]="'Contratame'" [texColor]="'#FCA311'"></buttons>
        <!-- <button class="btnMyWork btn" routerLink="/porfolio">Mi trabajo</button>
        <button class="btnContrat btn" routerLink="/contacto">Contratame</button> -->
    </div>
</div>