<div class="container-inicio"  >
    <img id="fotoBanner" src="assets/galery/imagenMia.png" alt="" width="640" height="902">
    <h2 class="title">Bienvenidos!</h2>
    <h1 class="suptitle">Yo soy <p class="colorSecundary">&nbsp; Desarrollador &nbsp;</p> y <p class="colorSecundary">&nbsp; Diseñador Web &nbsp;</p></h1>
    <div class="container-button" >
        <buttons [text]="'Mi trabajo'"></buttons>
        <buttons [backgroundColor]="'#FFFFFF'" [text]="'Contratame'" [texColor]="'#FCA311'"></buttons>
    </div>
</div>