 * {
   color: #ffffff;
  font-family: "Lato";
}

.container-inicio {
   display: flex;
  justify-content: center;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 100;
  position: absolute;
  z-index: 11;
  top: 30%;
  font-size: 47px;
}

.suptitle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 10;
  top: 34%;
  font-size: 50px;
}

// img {
//   width: 100px;
//   height: 100px;
// }

#fotoBanner {
  position: absolute;
  display: flex;
  justify-content: center;
  left: 34%;
  opacity: 15%;
  top:24px;
}

.container-button{
  display: flex;
  justify-content: center;
  position: absolute;
  top: 28vw;

}
